body {

	background: black;
	color: white;
}

img {
	display: block;
	margin: 0 auto;
	max-height: 50%;
	max-width: 75%;
	border-radius: 15%;
	padding: 2rem;

}

h3, h1 {
	text-align: center;

	color: lightgrey;
}
.post-foot {

	color:yellow;
}
.post {

	text-align: center;
}

#one {
	background-color: #3b3a36;
	font-family: font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 13px;
	color: #b56969;
	line-height: 4rem;


}

#two {
	background-color: #b3c2bf;
	font-family: font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 3rem;
	color: #729f98;
	line-height: 3.5;

}

#three {

	background-color: #c5d5cb;
	font-family: Consolas, monaco, monospace;
	font-size: 2.5rem;
	color: #feffff;
	line-height: normal;

}

#four {
	background-color: #a8b6bf;
	font-family: font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 1.5rem;
	color: #62bcfa;
	line-height: 20%;

}

#five {

	background-color: #89bdd3;
	font-family: font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 4rem;
	color: #5e0231;
	line-height: 2.8rem;
}

#six {
	background-color: #fae596;
	font-family: font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 1.6rem;
	color: #e05038;
	line-height: 2.3rem;
}

